<div class="Form">
    <form>
        Plot: <input type="text" name="plot_form">
        Title: <input type="text" name="title_form">
        Director: <input type="text" name="director_form">
        Year: <input type="text" name="year_form">
        Rated: <input type="text" name="rated_form">
    </form>

</div>