<!DOCTYPE html>
<html>
<header>{{> header }}</header>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="content">
        <center>
            {{{body}}}
            {{!-- {{> form }} --}}
        </center>
    </div>
    </center>
  </body>
  <footer>{{> footer }}</footer>  
</html>