    <!doctype html>
<html>
  <head>
    <style>
      input {
        margin: 4px;
        width: 250px;
      }
    </style>
  </head>
  <body>
    <h1>Register</h1>
    <div style="text-align:right;width:400px;border:1px dashed #6495de;padding:16px;">
      <form method="POST" action="/register">
        <label for="name">First Name:</label>
        <input id="title" type="text" name="first_name"/><br />
        <label for="lname">Last Name:</label>
        <input id="lname" type="text" name="last_name"/><br />
        <label for="email">Email:</label>
        <input id="email" type="email" name="email"/><br />
        <label for="pass">Password:</label>
        <input id="pass" type="password" name="password"/><br />
        <input type="submit" value="Submit" />
      </form>
    </div><br /><br/>
  </body>
</html>